In [32]:
# Imports
import sqlite3
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

In [33]:
# Create dataframes from csv folder within the same folder
messages = pd.read_csv("csvs/messages.csv", index_col=0)
categories = pd.read_csv("csvs/categories.csv", index_col=0)

In [34]:
# Merge the dataframe
df = messages.merge(categories, on="id")

In [35]:
df

,message,original,genre,categories
id,,,,
2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...
...,...,...,...,...
30261,The training demonstrated how to enhance micro...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
30262,A suitable candidate has been selected and OCH...,NaN,news,related-0;request-0;offer-0;aid_related-0;medi...
30263,"Proshika, operating in Cox's Bazar municipalit...",NaN,news,related-1;request-0;offer-0;aid_related-0;medi...
30264,"Some 2,000 women protesting against the conduc...",NaN,news,related-1;request-0;offer-0;aid_related-1;medi...
30265,A radical shift in thinking came about as a re...,NaN,news,related-1;request-0;offer-0;aid_related-0;medi...

<h2>Separate category data </h2>

In [36]:
categories = categories["categories"].str.split(";", expand=True)

In [37]:
get_name = lambda x:x.split('-')[0]

In [38]:
get_number = lambda x:x.split('-')[1]

In [39]:
category_columns = list(categories.iloc[0].apply(get_name))

In [40]:
category_columns

['related',
 'request',
 'offer',
 'aid_related',
 'medical_help',
 'medical_products',
 'search_and_rescue',
 'security',
 'military',
 'child_alone',
 'water',
 'food',
 'shelter',
 'clothing',
 'money',
 'missing_people',
 'refugees',
 'death',
 'other_aid',
 'infrastructure_related',
 'transport',
 'buildings',
 'electricity',
 'tools',
 'hospitals',
 'shops',
 'aid_centers',
 'other_infrastructure',
 'weather_related',
 'floods',
 'storm',
 'fire',
 'earthquake',
 'cold',
 'other_weather',
 'direct_report']

In [41]:
categories.columns = category_columns

In [42]:
for column in categories:
    categories[column] = categories[column].apply(get_number)
    
    categories[column] = pd.to_numeric(categories[column])

In [43]:
# Confirm the columns are numeric
categories["related"].dtype

dtype('int64')

<h2> Remove old categories column and join the df and category dataframes </h2>

In [44]:
df.drop(["categories"], axis = 1, inplace=True)

In [45]:
df = df.join(categories, on="id", how="outer")

In [46]:
df.shape

(26668, 39)

In [47]:
df.duplicated().sum()

453

In [48]:
# We expect 26,177 rows
df.drop_duplicates(inplace=True)

In [49]:
df

,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30261,The training demonstrated how to enhance micro...,NaN,news,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30262,A suitable candidate has been selected and OCH...,NaN,news,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30263,"Proshika, operating in Cox's Bazar municipalit...",NaN,news,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30264,"Some 2,000 women protesting against the conduc...",NaN,news,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30265,A radical shift in thinking came about as a re...,NaN,news,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

<h2> Add the data to a database </h2>

In [50]:
user = os.environ.get("user")
password = os.environ.get("pass")
server = os.environ.get("server")
url = 'mysql://'+ user + ':' +password+ '@' + server + '/categories'

In [51]:
url

'mysql://root:Awesome1234$@localhost/categories'

In [52]:
engine = create_engine(url)
df.to_sql('message_categories', engine, index=False, if_exists='replace')